.heroContainer {
  background-image: url(../assets/hero-bg.jpg);
  width: 100vw;
  height: 650px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.hero h6 {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 0px;
}
.hero h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  white-space: nowrap; 
  overflow: visible;
  position: relative; 
  left: -10px;
}
.hero .shopButton {
  cursor: pointer;
  color: white;
  background-color: #fc5f5f;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  border: none;
  width: 153.54px;
  height: 46.89px;
  padding: 11.2px 32px 11.2px 32px;
  border-radius: 80px;
  transition: all .5s ease;
  position: relative; 
  left: -10px;
}
.hero .shopButton:hover {
  background-color: #61ce70;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.hero {
  margin-top: 48px;
  width: 451px;
  height: 350px;
}
.heroAndEmpty {
  width: 70%;
  margin: 3rem auto 0px;
}
@media  (max-width : 750px) {
  .hero h6 {
    font-size: 15px;
    font-weight: 500;
  }
  .hero h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
  }
  .heroContainer {
    height: 450px;
  }
}