body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background-color: rgb(169, 217, 249);
  border: none;
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 17px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
